    <div class="col-sm-2"></div>
    
    <div class="col-sm-8 about-section"><br>
            <center><h1>About</h1></center>
            <p id="about-para">
            The doorbell rings. From outside, a friendly voice says, “Special delivery! It's flowers!” 
            There’s a sudden migraine headache and dread in the pit of your stomach. And then you see it—the back of your
            head because you're rolling your eyes at your "thoughtful gift". You act surprised and delighted. But inside you're 
            wondering where you went wrong in life.
            <br><br>
            Making people smile is no small accomplishment. It’s a passion if FlowersSuck.com that's been in our group for a little over a week. 
            It’s what drove our team, headed by former florist Scott May, to demand better of gift givers, to start this website in 2017 with the belief that each of
            us knows the people we cherish well enough to give them what they really want, a basket of stuff that doesn't wilt overtime.
            
            It’s what drives our franchisees nationwide and our Local Artisan basket arrangers to handcraft traditional 
            or truly original gift baskets daily. What starts as a single thought can end with someone feeling loved, 
            appreciated, remembered—and having a better day because of it. It’s not just in our business plan; 
            it’s actually how we see the world.
            </p>
            
            <img src="./assets/images/other-images/krisha_hs.jpg" alt="A picture of Krisha" class="headshot-img">
            <img src="./assets/images/other-images/scott_hs.jpg" alt="A picture of Scott" class="headshot-img">
            <img src="./assets/images/other-images/ritu_hs.jpg" alt="A picture of Ritu" class="headshot-img">
            <img src="./assets/images/other-images/eric_hs.jpg" alt="A picture of Eric" class="headshot-img">

    </div>
    
    <div class="col-sm-2"></div>
