    <div class="col-sm-2"></div>
    
    <div class="col-sm-8 about-section">
        <br>
        <center><h2>About</h2></center>
            <p id="about-para">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum dolor erat, pellentesque eget elit vel, fermentum venenatis leo.
            Nulla finibus venenatis tellus, in gravida leo varius finibus. Phasellus finibus tortor quis ex commodo consequat. Sed a ultricies lacus, ut vulputate diam. Praesent ut justo et odio placerat scelerisque. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec mi nisl, facilisis semper libero id, ultrices tincidunt massa. Vivamus ultricies pulvinar leo non viverra. Nullam mauris nibh, fringilla nec erat vel, ornare tempor erat. Praesent tristique scelerisque pulvinar. Phasellus et lorem tempus, accumsan est non, vehicula dui. Phasellus facilisis nisi sed vestibulum mattis. Pellentesque elementum dapibus justo, eget mattis justo ultrices sed. Donec sagittis urna nunc, id interdum ipsum lacinia a. Nulla accumsan imperdiet scelerisque.
            Integer massa enim, rhoncus id tellus ac, efficitur luctus nunc. Mauris dignissim feugiat massa at porttitor. Nunc eu pulvinar ipsum. Donec in pulvinar ipsum. Integer aliquet eu elit sed vulputate. Morbi maximus leo quis justo volutpat vehicula. Donec condimentum ex tellus. Suspendisse potenti. Donec non finibus ligula, sit amet rhoncus mi. Ut faucibus eleifend auctor. Vestibulum facilisis risus risus. Duis interdum hendrerit interdum. Donec eleifend luctus justo, nec faucibus neque consequat quis. Sed laoreet tortor non tincidunt feugiat. Mauris libero orci, dictum eu mauris a, imperdiet eleifend risus. Morbi diam ipsum, laoreet in dapibus non, lacinia vitae neque. Donec posuere efficitur tincidunt. Aenean euismod sollicitudin vulputate.
            </p>
            
            <img src="./assets/images/other-images/krisha_hs.jpg" alt="A picture of Krisha" class="headshot-img">
            <img src="./assets/images/other-images/scott_hs.jpg" alt="A picture of Scott" class="headshot-img">
            <img src="./assets/images/other-images/ritu_hs.jpg" alt="A picture of Ritu" class="headshot-img">
            <img src="./assets/images/other-images/eric_hs.jpg" alt="A picture of Eric" class="headshot-img">

    </div>
    
    <div class="col-sm-2"></div>
