<div class="row billing">
    
    <!--Basket contents-->
    <div class="col-sm-4" id="demo">
    </div>
    
    <p class="total"><span class="simpleCart_items"></span> <span class="simpleCart_quantity"></span> Total:  <span class="simpleCart_total"></span></p>

    <!--Finished product-->
    <div class="col-sm-8">
    </div>

{{!--<div class="row billing"> moved to line 1--}}
    <!--Billing info-->
    <div class="col-sm-5">
        <form class="form-inline">
            <div class="form-group">
                <label class="sr-only" for="firstName">First Name</label>
                <input type="name" class="form-control" id="" placeholder="First Name">
            </div>
            <div class="form-group">
                <label class="sr-only" for="lastName">Last Name</label>
                <input type="name" class="form-control" id="" placeholder="Last Name">
            </div>
            <div class="form-group">
                <label class="sr-only" for="creditCard">Credit Card</label>
                <input type="name" class="form-control" id="" placeholder="Credit Card">
            </div>
            <div class="form-group">
                <label class="sr-only" for="creditCard">Exp Date</label>
                <input type="name" class="form-control" id="" placeholder="Exp Date">
            </div>
            <div class="form-group">
                <label class="sr-only" for="">Billing Address (Line 1)</label>
                <input type="name" class="form-control" id="" placeholder="Billing Address (Line 1)">
            </div>
            <div class="form-group">
                <label class="sr-only" for="">Billing Address (Line 2)</label>
                <input type="name" class="form-control" id="" placeholder="Billing Address (Line 2)">
            </div>
            <div class="form-group">
                <label class="sr-only" for="">City</label>
                <input type="name" class="form-control" id="" placeholder="City">
            </div>
            <div class="form-group">
                <label class="sr-only" for="">State</label>
                <input type="name" class="form-control" id="" placeholder="State">
            </div>
            <div class="form-group">
                <label class="sr-only" for="">Zip Code</label>
                <input type="name" class="form-control" id="" placeholder="Zip Code">
            </div>
        </form>
    </div>

    <!--Spacer-->
    <div class="col-sm-2"></div>

    <!--Shipping info-->

    <div class="col-sm-5 shipping">
        <form class="form-inline">
            <div class="form-group">
                <label class="sr-only" for="firstName">First Name</label>
                <input type="name" class="form-control" id="" placeholder="First Name" required>
            </div>
            <div class="form-group">
                <label class="sr-only" for="lastName">Last Name</label>
                <input type="name" class="form-control" id="" placeholder="Last Name">
            </div>
            <div class="form-group">
                <label class="sr-only" for="">Shipping Address (Line 1)</label>
                <input type="name" class="form-control" id="" placeholder="Shipping Address (Line 1)">
            </div>
            <div class="form-group">
                <label class="sr-only" for="">Shipping Address (Line 2)</label>
                <input type="name" class="form-control" id="" placeholder="Shipping Address (Line 2)">
            </div>
            <div class="form-group">
                <label class="sr-only" for="">City</label>
                <input type="name" class="form-control" id="" placeholder="City">
            </div>
            <div class="form-group">
                <label class="sr-only" for="">State</label>
                <input type="name" class="form-control" id="" placeholder="State">
            </div>
            <div class="form-group">
                <label class="sr-only" for="">Zip Code</label>
                <input type="name" class="form-control" id="" placeholder="Zip Code">
            </div>


<!--Same as Billing Button-->
            <button class="btn btn-success" type="button">Same as Billing</button>
        

            <!--Same as Billing Button-->
            <button class="btn btn-default" type="button">Same as Billing</button>
        </form>

        <!--Submit order button-->
       		 <button class="btn btn-default" type="button" id="submit">Submit Order</button>


<!--Submit order button-->
        <button class="btn btn-info" type="submit" id="submit">Submit Order</button>

        </form>
    </div>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Thank you!</h4>
        </div>
        <div class="modal-body">
          <p>Your order is confirmed! <br>Total: <span class="simpleCart_total"></span></p>
        </div>
        <div class="modal-footer">
          <a href="javascript:;" class="simpleCart_empty"><button type="button" class="btn btn-default" data-dismiss="modal" id="closeModal">Close</button></a>
        </div>
      </div>
      
    </div>
  </div>
</div>