 <!--Basket contents-->
    <div class="col-sm-4">

    </div>

    <!--Finished product-->
    <div class="col-sm-8">

    </div>
</div>

<div class="row">
    <!--Billing info-->
    <div class="col-sm-5">
        <form class="form-inline">
            <div class="form-group">
                <label class="sr-only" for="firstName">First Name</label>
                <input type="name" class="form-control" id="" placeholder="First Name">
            </div>
            <div class="form-group">
                <label class="sr-only" for="lastName">Last Name</label>
                <input type="name" class="form-control" id="" placeholder="Last Name">
            </div>
            <div class="form-group">
                <label class="sr-only" for="creditCard">Credit Card</label>
                <input type="name" class="form-control" id="" placeholder="Credit Card">
            </div>
            <div class="form-group">
                <label class="sr-only" for="creditCard">Exp Date</label>
                <input type="name" class="form-control" id="" placeholder="Exp Date">
            </div>
            <div class="form-group">
                <label class="sr-only" for="">Billing Address (Line 1)</label>
                <input type="name" class="form-control" id="" placeholder="Billing Address (Line 1)">
            </div>
            <div class="form-group">
                <label class="sr-only" for="">Billing Address (Line 2)</label>
                <input type="name" class="form-control" id="" placeholder="Billing Address (Line 2)">
            </div>
            <div class="form-group">
                <label class="sr-only" for="">City</label>
                <input type="name" class="form-control" id="" placeholder="City">
            </div>
            <div class="form-group">
                <label class="sr-only" for="">State</label>
                <input type="name" class="form-control" id="" placeholder="State">
            </div>
            <div class="form-group">
                <label class="sr-only" for="">Zip Code</label>
                <input type="name" class="form-control" id="" placeholder="Zip Code">
            </div>
        </form>
    </div>

    <!--Spacer-->
    <div class="col-sm-2"></div>

    <!--Shipping info-->
    <div class="col-sm-5">
        <form class="form-inline">
            <div class="form-group">
                <label class="sr-only" for="firstName">First Name</label>
                <input type="name" class="form-control" id="" placeholder="First Name">
            </div>
            <div class="form-group">
                <label class="sr-only" for="lastName">Last Name</label>
                <input type="name" class="form-control" id="" placeholder="Last Name">
            </div>
            <div class="form-group">
                <label class="sr-only" for="">Shipping Address (Line 1)</label>
                <input type="name" class="form-control" id="" placeholder="Shipping Address (Line 1)">
            </div>
            <div class="form-group">
                <label class="sr-only" for="">Shipping Address (Line 2)</label>
                <input type="name" class="form-control" id="" placeholder="Shipping Address (Line 2)">
            </div>
            <div class="form-group">
                <label class="sr-only" for="">City</label>
                <input type="name" class="form-control" id="" placeholder="City">
            </div>
            <div class="form-group">
                <label class="sr-only" for="">State</label>
                <input type="name" class="form-control" id="" placeholder="State">
            </div>
            <div class="form-group">
                <label class="sr-only" for="">Zip Code</label>
                <input type="name" class="form-control" id="" placeholder="Zip Code">
            </div>

            <!--Same as Billing Button-->
            <button class="btn btn-default" type="button">Same as Billing</button>
        </form>

        <!--Submit order button-->
        <button class="btn btn-default" type="submit" id="submit">Submit Order</button>
    </div>
