    <div class="jumbotron">
      <div class="container jumbotron-content">
        {{!--<h2>Welcome back, <span class="member-name"></span></h2>--}}
        <br><br>
          <h3>A great selection of great gift baskets</h3>
          <p class="content1">
            Custom gift baskets start at $49.99</p>
            <br>
          <a class="btn btn-lg" href="#completeBaskets" role="button">Buy one of ours</a>
          <a class="btn btn-lg" href="/drag" role="button">Build your own!</a>
      </div>
      <div class="collage-baskets">
          <img src="./assets/images/complete_basket/all_baskets.png" id="completed-baskets-img" alt="A collage of the pre-made baskets">
      </div>

    </div>


<a NAME="completeBaskets"></a>
{{#each dbCompleteBasket}}
<div class="col-sm-3 complete-main-content">
    <div class="simpleCart_shelfItem complete-basket-divs">
        <h3 class="item_name"> {{item_name}} </h3>
        <img src="{{image}}" alt="" class="image complete-basket-images">  
        <!--<input type="text" value="1" class="item_Quantity">-->
        <p class="desc">{{description}}</p>
        <p><strong><span class="item_price">${{price}}</span></strong></p>

        <a class="btn btn-lg item_add addToCart" href="javascript:;"> <i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i> </a>
    </div>
</div>
{{/each}}

 <!-- Modal -->
  <div class="modal fade" id="completeModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Item Added to Cart</h4>
        </div>
        <div class="modal-body">
          <p>You have placed  in your cart:<br>
          <span class="simpleCart_items"></span>
           <br>Total: <span class="simpleCart_total"></span></p>
           <a href="/checkout">
           <button type="button" class="btn btn-default" id="checkout">Checkout</button></a>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" id="close">Keep Shopping</button>
        </div>
      </div>
      
    </div>
  </div>