{{#each dbCompleteBasket}}
<div class="col-sm-3">
    <div class="simpleCart_shelfItem">
        <h2 class="item_name"> {{basket_name}} </h2>
        <img src="{{image}}" alt="" class="image">  
        <!--<input type="text" value="1" class="item_Quantity">-->
        <p>{{description}}</p>
        <p><span class="item_price">${{price}}</span></p>

        <a class="btn btn-primary btn-lg item_add addToCart" href="javascript:;"> Add to Cart </a>
    </div>
</div>
{{/each}}

 <!-- Modal -->
  <div class="modal fade" id="completeModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Item Added to Cart</h4>
        </div>
        <div class="modal-body">
          <p>You have placed  in your cart:<br>
          <span class="simpleCart_items"></span>
           <br>Total: <span class="simpleCart_total"></span></p>
           <a href="/checkout">
           <button type="button" class="btn btn-default" id="checkout">Checkout</button></a>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" id="close">Keep Shopping</button>
        </div>
      </div>
      
    </div>
  </div>