<div class="col-sm-3">
            {{#each dbEmptyBasket}}
            <img src="{{image}}" alt="" class="image">
            <p>{{basket_name}}</p>
            <p>{{price}}</p>
            <a class="btn btn-primary btn-lg" href="#" role="button"></a>
            {{/each}}
        </div>