


<div class="faq-section">

    <div class="faq-content">
        <center><h2 class="faq-header">FAQ</h2></center>

        <h3>Frequently Asked Questions...</h1>
        {{#each dbFaqs}}
        <ul>
        <li>{{question}}<br>
        {{answer}}</li>
        </ul>
        {{/each}}
        
    </div>

</div>