<div class="container"> 
<p id="demo"></p>
<script language="javascript">document.write(img1);</script>
 {{#each dbItem}}
<ul>
    <li class="simpleCart_shelfItem">
        <h2 class="item_name"> {{item_name}} </h2>
        <img src="{{image}}" alt="" class="image">
        <!--<input type="text" value="1" class="item_Quantity">-->
        <p>{{description}}</p>
        <span class="item_price">${{price}}</span>
        <a class="btn btn-primary btn-lg item_add" href="javascript:;"> Add to Cart </a></li>

        <div class="simpleCart_items" >
	</div>

</ul>
{{/each}}
<span class="simpleCart_total"></span>
<a class="btn btn-primary btn-lg" href="/checkout"> Checkout </a>
</div>