<div class="container"> 

{{!--Basket Items--}}
<div id="empty">
</div> 


<div class="row build-list-items"> 
        <ul>
                {{#each dbItem}}
                <div class="col-sm-3">
                <li class="simpleCart_shelfItem">
                <h2 class="item_name"> {{item_name}} </h2>
                <img src="{{image}}" alt="" class="image build-imgs">
                <!--<input type="text" value="1" class="item_Quantity">-->
                <p>{{description}}</p>
                <span class="item_price">${{price}}</span>
                <a class="btn btn-lg item_add" href="javascript:;"> <i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i> </a></li>
                </div>
                {{/each}}
        </ul>

        <div class="simpleCart_items" >
	</div>
</div>

<span class="simpleCart_total"></span>
<a class="btn btn-primary btn-lg" href="/checkout"> Checkout </a>
</div>