<!--<div class="container">-->
<!--<div class="row">-->
<div class="col-sm-12">
<center> <h1>Login or Register</h1></center>
</div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h2>Already have an account?</h2>
        <form class="login">
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="email-input" placeholder="Email">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="password-input" placeholder="Password">
          </div>
          <button type="submit" class="btn btn-default">Login</button>
        </form>
        <!--<br />
        <p>Or sign up <a href="/">here</a></p>-->
      </div>
    </div>


  <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h2>Sign Up</h2>
        <form class="signup">
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="signup-email-input" placeholder="Email">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="signup-password-input" placeholder="Password">
          </div>
          <button type="submit" class="btn btn-default">Sign Up</button>
        </form>
        <!--<br />
        <p>Or log in <a href="/login">here</a></p>-->
      </div>
    </div>

<!--</div>-->
<!--</div>-->
  <div class="modal fade" id="badLoginModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Thank you!</h4>
        </div>
        <div class="modal-body">
         <p>Incorrect Login</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" id="closeBadLoginModal">Close</button></a>
        </div>
      </div>
      
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script type="text/javascript" src="assets/js/login.js"></script>