/*Google Font*/
/*font-family: 'Arsenal', sans-serif;*/
/*font-family: 'Quicksand', sans-serif;*/

/*Drag and Drop Build Area*/
#droppable{
    z-index: 1;
    position: absolute;
    transform: scale(1.75, 1.75);
}

#draggable{
    z-index: 10;
    position: absolute;
    
}

/*#draggable2{  
    z-index: 9;
    position: absolute;
}

#draggable3{
    z-index: 8;
    position: absolute;
}

#draggable4{
    z-index: 7;
    position: absolute;
}

#draggable5{
    z-index: 6;
    position: absolute;
}*/
  #draggable { width: 100px; height: 200px; padding: 0.5em; float: left; margin: 10px 10px 10px 0; }
  #droppable { width: 150px; height: 150px; padding: 0.5em; float: left; margin: 10px; }
  
#front_droppable{
    z-index: 100;
    position: absolute;
    transform: scale(1.75, 1.75);
}

/*.site-name {
    font-family: 'Arsenal', sans-serif;
    font-weight: bold;
}*/

#b1front{
    pointer-events: none;
    position: absolute;
    left: 275px;
    top: 128px;
}

#b1back{
    position: absolute;
    left: 300px;
    top: 150px;
}

.b1front{
    pointer-events: none;
    position: absolute;
    left: 313px;
    top: 94px;
}

.b1back{
    position: absolute;
    left: 340px;
    top: 120px;
}

.b2front{
    pointer-events: none;
    position: absolute;
    left: 314px;
    top: 94px
}
.b2back{
    position: absolute;
    left: 340px;
    top: 120px;
}

.b3front{
    pointer-events: none;
    position: absolute;
    left: 314px;
    top: 94px;
}

.b3back{
    position: absolute;
    left: 340px;
    top: 120px;
}

.b4front{
    pointer-events: none;
    position: absolute;
    left: 314px;
    top: 94px;
}

.b4back{
    position: absolute;
    left: 340px;
    top: 120px;
}

.b5front{
    pointer-events: none;
    position: absolute;
    left: 314px;
    top: 94px;
}

.b5back{
    position: absolute;
    left: 340px;
    top: 120px;
}

.b6front{
    pointer-events: none;
    position: absolute;
    left: 314px;
    top: 93px;
}

.b6back{
    position: absolute;
    left: 340px;
    top: 120px;
}

.b7front{
    pointer-events: none;
    position: absolute;
    left: 312px;
    top: 96px;
}

.b7back{
    position: absolute;
    left: 340px;
    top: 120px;
}

.basket1{
    width: 260px;
}

div.scroll {
    background-color: #FFFFCC;
    width: 300px;
    height: 750px;
    overflow: scroll;
}

div.c-wrapper{
    width: 80%; /* for example */
    margin: auto;
}

.center{
    text-align: center
}

.image {
            height: 300px;
            width: 300px;
}

.modal
{
    overflow-y: auto;
}

.modal-open
{
   overflow:auto;
   overflow-x:hidden;
}
/*
.modal-header {
    background-color: cadetblue;
}

.modal-footer {
   
    background-color: cadetblue;

}*/

/*edits by Krisha*/
a:hover {
    color: #DDD;
}

.btn-lg {
    border-style: solid;
    border-width: 2px;
    border-color: #757575;
    border-radius: 0;
}

.navbar {
    border-bottom: none;
    border-radius: 0;
    height: 75px;
    width: 100%;
    padding: 10px 80px 0px 20px;
    margin-bottom: 0;
    background-color: #7F1818;
    /*background-image: url("../images/other-images/yellow_background.jpg");*/

    /*shadow styles*/
    /*-webkit-box-shadow: 0px 2px 7px 0px rgba(87,87,87,0.16);
    -moz-box-shadow: 0px 2px 7px 0px rgba(87,87,87,0.16);
    box-shadow: 0px 2px 7px 0px rgba(87,87,87,0.16);*/
}

.navbar-brand {
    padding-left: 150px;
    color: #FFF;
    padding-top: 3px;
}
.navbar-nav {
    padding-right: 180px;
    font-family: 'Pontano Sans', sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
}

.navbar-default .navbar-brand {
    font-family: 'Arsenal', sans-serif;
    font-weight: bold;
    font-size: 2em;
    color: #FFF;
}

.navbar-default .navbar-nav > li > a {
  color: #FFF;
}
.navbar-default .navbar-nav > li > a:hover {
  color: #CCC;
}


body {
    padding-top: 70px;
    overflow-y: scroll;
    height: 100%;
    color: #555;
}

h2 {
    font-family: 'Varela', sans-serif;
    color: #555;
    font-weight: bold;
    font-size: 1.714em;
}

h3, h4, h5, h5 {
    font-family: 'Pontano Sans', sans-serif;
}

p {
    font-family: 'Pontano Sans', sans-serif;
}

#footer {
    margin: 0px;
    padding-left: 150px;
    padding-bottom: 45px;
    padding-top: 20px;
    background-color: #7F1818;
    color: #FFF;

}

#footer:a, .footer-links a {
    color: #FFF;
}

.footer-media a {
    color: #FFF;
    line-height: 1.5;
}
.footer-media a:hover {
    text-decoration: none;
    color: #CCC;
}
.footer-links a {
    color: #FFF;
}
.footer-links a:hover {
    text-decoration: none;
    color: #CCC;
}
/*SimpleCart styles for navbar*/
.simpleCart_total, .simpleCart_quantity {
    font-family: 'Pontano Sans', sans-serif;
    font-size: 18px;
}

.jumbotron {
    background-color: #FBF5DF;
    height: 400px;

    border: 0.5px solid;
    border-color: #FFF;

    /*shadow styles*/
    /*-webkit-box-shadow: 0px 2px 7px 0px rgba(87,87,87,0.16);
    -moz-box-shadow: 0px 2px 7px 0px rgba(87,87,87,0.16);
    box-shadow: 0px 2px 7px 0px rgba(87,87,87,0.16);*/
}

.jumbotron a {
    color: #7F1818;
}

.row {
    width: 100%;
}

.main-content {
    background-image: url("../images/other-images/pixel_weave_yellow_2.png");
    margin: 0px;
}

/*complete basket styles*/
.complete-basket-divs {
    /*background-color: #FFF;*/
    background-color: rgba(251, 245, 223, 0.8);
    text-align: center;

    margin: 25px 15px;
    padding: 20px 10px;

    border: 0.5px solid;
    border-radius: 3px;
    border-color: #FFF;
}

.complete-basket-divs a {
    color: #7F1818;
}

.desc {
    font-size: 1em;
}
.complete-basket-images {
    margin-top: 15px;
    margin-bottom: 20px;
    height: 245px;
    width: 225px;
}

.collage-baskets {
    position: absolute;
    top: 20px;
    right: 80px;
    padding-right: 40px;
}

#completed-baskets-img {
    transform: scale(0.60, 0.60);
    float: right;
    margin: 0;
}

.complete-main-content {
    font-size: 1.2em;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 80px;
  background-image: url("../images/other-images/pixel_weave_yellow_2.png");

}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

/*.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
}*/

#emailUpdatesButton {
    margin-left: 0;
}

.about-section {
    margin: 60px 309.8px 10px 309.8px;
    padding-left: 0;
    padding-right: 0;
    background-color: #FBF5DF;
    height: 900px;
    width: 898px;

    border: 0.5px solid;
    border-color: #FFF;
}

#about-para {
    margin: 40px;  
    text-align: justify;
    font-size: 1.1em;
}
.headshot-img {
    height: 150px;
    width: 150px;
    border-radius: 60%;

    
    border: 2px solid;
    border-color: #DDD;

    margin-left: 55px;
}

.login-section {
    margin: 60px 309.8px 10px 309.8px;
    padding-left: 0;
    padding-right: 0;
    background-color: #FBF5DF;
    height: 900px;
    width: 898px;
/*
    border: 0.5px solid;
    border-color: #FFF;*/
}

#login-content {
    margin: 35px 30px 0px 30px;  
    text-align: justify;
    font-size: 1.1em;
    color: #555;
    font-family: 'Varela', sans-serif;
}

/*form {
    font-family: 'Pontano Sans', sans-serif;
}*/

.checkout-section {
    margin: 60px 309.8px 30px 309.8px;
    padding-left: 0;
    padding-right: 0;
    background-color: #FBF5DF;
    width: 898px;

    border: 1px solid;
    border-color: transparent;
}

.basket-contents {
    margin: 0;
}

.billing { 
    text-align: justify;
    font-size: 1.1em;
}

.total {
    text-align: right;
    padding: 30px;
}

.itemRow {
    text-align: left;
}

.blog-section, .faq-section {
    margin: 60px 309.8px 10px 309.8px;
    padding-left: 0;
    padding-right: 0;
    background-color: #FBF5DF;
    height: 900px;
    width: 898px;
    text-align: justify;
    font-size: 1.1em;
}

.blog-content, .faq-content {
    margin: 35px 30px 0px 30px;  
    /*text-align: justify;*/
    font-size: 1.1em;
    color: #555;
    font-family: 'Varela', sans-serif;

    padding-top: 30px;
}

.refund-section {
    width: 100%;
}

#logo {
    height: 35px;
    width: 35px;
    display: inline;

    margin: 0 10px 15px 0;
}

.build-imgs {
    height: 150px;
    width: 150px;
}

.build-list-items {
    margin: 0;
}

.build-list-items a {
    color: #7F1818;
}

.build-list-items li:hover{
    background-color: #f5f5f5;
    align-items: center;
}

/*
.contact-section {
    margin-bottom: 0;
}

.contact-form {
    margin: 40px;
}*/

/*todo: CSS for
-build
-blog
-FAQ
-refund policy

-center kanye
-hover items on build*/