/*Google Font*/
/*font-family: 'Arsenal', sans-serif;*/
/*font-family: 'Quicksand', sans-serif;*/

/*Brick Red (#7F1818 )
yellow_backround.jpg for the background
(images>other images: ;
yellow_background.jpg)*/

/*Drag and Drop Build Area*/
#droppable{
    z-index: 1;
    position: absolute;
    transform: scale(1.75, 1.75);
}

#draggable{
    z-index: 10;
    position: absolute;
    
}

/*#draggable2{  
    z-index: 9;
    position: absolute;
}

#draggable3{
    z-index: 8;
    position: absolute;
}

#draggable4{
    z-index: 7;
    position: absolute;
}

#draggable5{
    z-index: 6;
    position: absolute;
}*/
  #draggable { width: 100px; height: 200px; padding: 0.5em; float: left; margin: 10px 10px 10px 0; }
  #droppable { width: 150px; height: 150px; padding: 0.5em; float: left; margin: 10px; }
  
#front_droppable{
    z-index: 100;
    position: absolute;
    transform: scale(1.75, 1.75);
}

.site-name {
    font-family: 'Arsenal', sans-serif;
    font-weight: bold;
}

#b1front{
    pointer-events: none;
    position: absolute;
    left: 275px;
    top: 128px;
}

#b1back{
    position: absolute;
    left: 300px;
    top: 150px;
}

.b1front{
    pointer-events: none;
    position: absolute;
    left: 313px;
    top: 94px;
}

.b1back{
    position: absolute;
    left: 340px;
    top: 120px;
}

.b2front{
    pointer-events: none;
    position: absolute;
    left: 314px;
    top: 94px
}
.b2back{
    position: absolute;
    left: 340px;
    top: 120px;
}

.b3front{
    pointer-events: none;
    position: absolute;
    left: 314px;
    top: 94px;
}

.b3back{
    position: absolute;
    left: 340px;
    top: 120px;
}

.b4front{
    pointer-events: none;
    position: absolute;
    left: 314px;
    top: 94px;
}

.b4back{
    position: absolute;
    left: 340px;
    top: 120px;
}

.b5front{
    pointer-events: none;
    position: absolute;
    left: 314px;
    top: 94px;
}

.b5back{
    position: absolute;
    left: 340px;
    top: 120px;
}

.b6front{
    pointer-events: none;
    position: absolute;
    left: 314px;
    top: 93px;
}

.b6back{
    position: absolute;
    left: 340px;
    top: 120px;
}

.b7front{
    pointer-events: none;
    position: absolute;
    left: 312px;
    top: 96px;
}

.b7back{
    position: absolute;
    left: 340px;
    top: 120px;
}

.basket1{
    width: 260px;
}

div.scroll {
    background-color: #FFFFCC;
    width: 300px;
    height: 750px;
    overflow: scroll;
}

div.c-wrapper{
    width: 80%; /* for example */
    margin: auto;
}

.center{
    text-align: center
}

.image {
            height: 300px;
            width: 300px;
}
/*
.modal-header {
    background-color: cadetblue;
}

.modal-footer {
   
    background-color: cadetblue;

}*/

/*edits by Krisha*/
.navbar {
    border-bottom: none;
    border-radius: 0;
    height: 90px;
    width: 100%;
    padding: 10px 80px 0px 30px;
    margin-bottom: 0;
    background-color: #7F1818;
    /*background-image: url("../images/other-images/yellow_background.jpg");*/

    /*shadow styles*/
    -webkit-box-shadow: 0px 2px 3px 0px rgba(184,184,184,1);
    -moz-box-shadow: 0px 2px 3px 0px rgba(184,184,184,1);
    box-shadow: 0px 2px 3px 0px rgba(184,184,184,1);
}

.navbar-brand {
    padding-left: 50px;
    color: #FFF;
}
.navbar-nav {
    font-family: 'Pontano Sans', sans-serif;
    font-size: 15px;
}

.navbar-default .navbar-nav > li > a {
  color: #FFF
}

#footer {
    margin: 0px;
    padding-left: 0;
    background-color: #7F1818;
}

/*SimpleCart styles for navbar*/
.simpleCart_total, .simpleCart_quantity {
    font-family: 'Pontano Sans', sans-serif;
    font-size: 18px;
}

.jumbotron {
    background-color: #DDD;

    /*shadow styles*/
    -webkit-box-shadow: 0px 2px 3px 0px rgba(184,184,184,1);
    -moz-box-shadow: 0px 2px 3px 0px rgba(184,184,184,1);
    box-shadow: 0px 2px 3px 0px rgba(184,184,184,1);

}

.row {
    width: 100%;
    /*overflow: hidden;*/
}

.main-content {
    background-image: url("../images/other-images/yellow_background.jpg");
    margin: 0px;
}

/*complete basket styles*/
.complete-basket-divs {
    width: 250px;
    border-style: 1px;
    border-width: 1px;
    border-color: #7F1818;
}

.complete-basket-images {
    height: 245px;
    width: 225px;
}